name: Test work
on:
  push:
    branches:
      - main
  workflow_dispatch:
      
jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Clon repo
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          
      - name: Install and setup PostgreSQL
        run: |
          sudo apt update
          sudo apt install -y postgresql postgresql-contrib
          sudo systemctl start postgresql
          sudo -u postgres psql -c "CREATE DATABASE truck_crm;"
          sudo -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'postgres';"    

          
      - name: Work
        run: |
          npm install
          npm run build
          sleep 2
          npm run init-db
          npm start &
          sleep 5
          
      
                
      - name: Work_2
        run: |
          npm install -g localtunnel
          curl 2ip.ru
          lt --port 3000
         
